@import 'src/styles/variables';

.container {
  display: flex;
  background-color: $blue-300-100;
  min-height: 100vh;
}

.filter {
  position: fixed;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 100%;

  padding: 20px;
  margin: 0 0 0 270px;
}

.content {
  flex: 1;
}
