@import 'src/styles/variables';

.container {
  display: flex;
  background-color: $blue-300-100;
  min-height: 100vh;
}

.filter {
  position: fixed;
}

.grid {
  width: 100%;
  margin-left: 270px;
}
